

<!DOCTYPE html>
<html>
<head>
    <title>Beamy Music</title>
    <link rel="icon" type="image/jpg" href="~/Img/play.png" />
    <link rel="stylesheet" href="~/css/style3.css" />
    <link rel="stylesheet" href="~/css/style13.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!-- Required meta tags -->


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- APlayer CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" />

    <style type="text/css">




        .nose {
            width: 100px; /*Le establecemos un ancho*/
            margin: 0 auto; /*Centramos automaticamente*/
        }

            .nose > li {
                float: left;
            }

            .nose li a {
                background-color: #808080;
                color: #000000;
                text-decoration: none;
                padding: 10px 12px;
                display: block;
            }

                .nose li a:hover {
                    background-color: #434343;
                }

            .nose li ul {
                display: none;
                position: absolute;
                min-width: 140px;
            }

            .nose li:hover > ul {
                display: block;
            }

            .nose li ul li {
                position: relative;
            }

                .nose li ul li ul {
                    right: -140px;
                    top: 0px;
                }
    </style>
</head>
<body>
    <div class="container2">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="/usuario/interface">Beamy Music</a>
                        <i class="fa fa-hand-peace-o"></i>
                        <a href="/autor/logout"><i class="fa fa-sign-out float-right"></i></a>

                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="~/Images/userNew.png" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                <strong>@ViewData["Message"]</strong>
                            </span>
                            <span class="user-role">Usuario</span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span style="color:green">Online</span>
                            </span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <form action="/usuario/interface">
                                    <input class="form-control" type="search" name="search" placeholder="Search..." value="@ViewBag.Buscar">

                                    <button class="btn btn-outline-success my-2" type="submit">Buscar</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-cog"></i>
                                    Editar Usuario
                                </a>

                            </li>
                            <li>




                                <a href="#popup">
                                    <i class="fa fa-arrow-up"></i>
                                    Subir Canción
                                </a>





                            </li>
                            <!--<li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span></span>

                                </a>

                            </li>

                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-globe"></i>
                                    <span>Maps</span>
                                </a>


                            </li>-->
                            <li class="header-menu">
                                <span>Música</span> 
                            </li>
                            <li>
                                <a href="/Usuario/Favoritos">
                                    <i class="fa fa-heart"></i>
                                    Mis Favoritas

                                </a>
                            </li>
                            <li>
                                <a href="/Usuario/PlayList">
                                    <i class="fa fa-star"></i>
                                    Play List
                                </a>
                            </li>
                            <ol>


                                @foreach (var item in ViewBag.ListPLayMenu)
                                {

                                    <li>
                                        <a href="/Usuario/PlayList">@item.Nombre</a>
                                    </li>
                                }
                            </ol>

                        </ul>


                    </div>
                    <!-- sidebar-menu  -->
                </div>


            </nav>

            <main class="page-content">
                <div class="main">

                    <!---->

                    <div class="container3">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Recomendadas</h3>
                            </div>
                            @foreach (var item in ViewBag.ListaPlayList)
                            {
                                <div class="col-md-2">
                                    <a href="/usuario/listaPlaylist?id=@item.Id" class="album-poster2">
                                        <img src="@item.Foto">
                                    </a>
                                    <h4>@item.Nombre</h4>
                                </div>
                            }
                        </div>
                    </div>
                        <br>

                        <div class="col-md-12">
                            <h3>Canciones</h3>
                        </div>

                        <div class="container">
                            <div class="row">
                                <table class=" table table-striped">
                                    <thead>
                                        <tr class="table-dark">
                                            <th scope="col">#</th>
                                            <th scope="col"> </th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Artista</th>
                                            <th scope="col">Álbum</th>
                                            <th scope="col">Duración</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{int con = 0; }
                                        @foreach (var item in ViewBag.Canciones)
                                        {
                                            con++;
                                            <tr>
                                                <th scope="row">@con</th>
                                                <td>
                                                    @if (con == 1)
                                                    {
                                                        <a href="javascript:void();" class="album-poster" data-switch="@item.Id">
                                                            <img src="@item.Foto">

                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="album-poster" data-switch="@item.Id">
                                                            <img src="@item.Foto">
                                                        </a>
                                                    }
                                                </td>
                                                <td>@item.Nombre</td>
                                                <td>@item.Artistas.Nombre</td>
                                                <td>@item.Albumes.Nombre</td>
                                                <td>@item.Duracion</td>
                                                <td>

                                                    <ul class="nose">

                                                        <li>
                                                            <a href="">...</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">Agregar a Play List</a>
                                                                    <ul>
                                                                        @foreach (var item2 in ViewBag.PlayListas2)
                                                                        {
                                                                            <li><a href="/usuario/AgregarAmiPlayList?cancion=@item.Id&playlist=@item2.Id&search=@ViewBag.search">@item2.Nombre</a></li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                                <li><a href="/usuario/favorito2?cancion=@item.Id&search=@ViewBag.search">Favoritos</a></li>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </td>
                                            </tr>


                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                   

                    <!---->
                </div>
                <div id="aplayer"></div>

                <script>

                    // NOW I CLICK album-poster TO GET CURRENT SONG ID
                    $(".album-poster").on('click', function (e) {
                        var dataSwitchId = $(this).attr('data-switch');
                        //console.log(dataSwitchId);

                        // and now i use aplayer switch function see
                        ap.list.switch(dataSwitchId); //this is static id but i use dynamic

                        // aplayer play function
                        // when i click any song to play
                        ap.play();

                        // click to slideUp player see
                        $("#aplayer").addClass('showPlayer');
                    });

                    const ap = new APlayer({
                        container: document.getElementById('aplayer'),
                        listFolded: true,
                        audio: [
                            {
                                name: 'null',
                                artist: 'null',
                                url: 'Music\sonreir.mp3',
                                cover: 'FtCancion\sonreir.jfif',
                            },
                            {
                                name: 'null',
                                artist: 'null',
                                url: 'null',
                                cover: 'null'
                            },
                            {
                                name: 'null',
                                artist: 'null',
                                url: 'null',
                                cover: 'null'
                            },
                            //de aqui
                            {
                                name: 'Sonreír',
                                artist: 'Kurt',
                                url: 'Music\sonreir.mp3',
                                cover: '\FtCancion\sonreir.jfif',
                            },
                            {
                                name: 'La chispa adecuada	',
                                artist: 'Héroes del silencio	',
                                url: '\Music\La chispa adecuada.mp3',
                                cover: '\FtCancion\La chispa adecuada.jfif',
                            },
                            {
                                name: 'So Happy',
                                artist: 'Theory of a Deadman	',
                                url: '\Music\so happy.mp3',
                                cover: '\FtCancion\so happy 2.jfif',
                            },
                            {
                                name: 'Bad Girlfriend-theory',
                                artist: 'Theory of a Deadman	',
                                url: '\Music\bad girlfriend theory.mp3',
                                cover: '\FtCancion\bad girlfriend theory.jfif',
                            },
                            {
                                name: 'Sos',
                                artist: 'Avicii',
                                url: '\Music\sos.mp3',
                                cover: '\FtCancion\Sos.jpg',
                            },
                            {
                                name: 'null',
                                artist: 'null',
                                url: 'null',
                                cover: 'null'
                            },
                            {
                                name: 'null',
                                artist: 'null',
                                url: 'null',
                                cover: 'null'
                            },
                            {
                                name: 'Freak',
                                artist: 'Avicii',
                                url: '\Music\Freak.mp3',
                                cover: '\FtCancion\Freak.jpg',
                            },
                            {
                                name: 'Peace Of Mind',
                                artist: 'Avicii',
                                url: '\Music\Peaceofmind.mp3',
                                cover: '\FtCancion\Peace of mind.jpg',
                            },
                            {
                                name: 'Excuse Me Mr Sir',
                                artist: 'Avicii',
                                url: '\Music\Excuse Me Mr Sir.mp3',
                                cover: '\FtCancion\Excuse Me Mr Sir.jpg',
                            },
                            {
                                name: 'Intro',
                                artist: 'Romeo Santos',
                                url: '\Music\Intro.mp3',
                                cover: '\FtCancion\fórmula vol 1.jpg',
                            },
                            {
                                name: 'La Diabla',
                                artist: 'Romeo Santos',
                                url: '\Music\La Diabla.mp3',
                                cover: '\FtCancion\fórmula vol 1.jpg',
                            },
                            {
                                name: 'Procura',
                                artist: 'Chichi Peralta',
                                url: '\Music\Procura.mp3',
                                cover: '\FtCancion\pao otro lao.jpg',
                            },
                            {
                                name: 'Amor Narcótico',
                                artist: 'Chichi Peralta',
                                url: '\Music\Amor Narcótico.mp3',
                                cover: '\FtCancion\pao otro lao.jpg',
                            },
                            {
                                name: 'Vuelve',
                                artist: 'Beret',
                                url: '\Music\Vuelve.mp3',
                                cover: '\FtCancion\Vuelve.jfif',
                            },
                            {
                                name: 'Desde Cero',
                                artist: 'Beret',
                                url: '\Music\desde cero.mp3',
                                cover: '\FtCancion\desde cero.jfif',
                            },
                            {
                                name: 'La Chica de Humo',
                                artist: 'Emmanuel',
                                url: '\Music\La Chica de Humo.mp3',
                                cover: '\FtCancion\La Chica de Humo.jfif',
                            },
                            {
                                name: 'El Universo entre tus ojos',
                                artist: 'David Rees',
                                url: '\Music\El Universo entre tus ojos.mp3',
                                cover: '\FtCancion\El Universo entre tus ojos.jfif',
                            },
                            {
                                name: 'Luz de Día',
                                artist: 'Enanitos Verdes',
                                url: '\Music\Luz de Día.mp3',
                                cover: '\FtCancion\Huevos revueltos.jfif',
                            },
                            {
                                name: 'El Ataque de las Chicas cocodrilo',
                                artist: 'Enanitos Verdes',
                                url: '\Music\El Ataque de las Chicas cocodrilo.mp3',
                                cover: '\FtCancion\Huevos revueltos.jfif',
                            },
                            {
                                name: 'Mariposa Traicionera',
                                artist: 'Maná',
                                url: '\Music\Mariposa Traicionera.mp3',
                                cover: '\FtCancion\Mariposa Traicionera.jfif',
                            },
                            {
                                name: 'Eres mi Religión',
                                artist: 'Maná',
                                url: '\Music\Eres mi Religión.mp3',
                                cover: '\FtCancion\Eres mi Religión.jfif',
                            },
                            {
                                name: 'La Flaca',
                                artist: 'Jarabe de Palo',
                                url: '\Music\La Flaca.mp3',
                                cover: '\FtCancion\La Flaca1.jfif',
                            },
                            {
                                name: 'De Música Ligera',
                                artist: 'Soda Stereo',
                                url: '\Music\De Música Ligera.mp3',
                                cover: '\FtCancion\De Música Ligera.jfif',
                            },
                            {
                                name: 'Loco por volverte a ver',
                                artist: 'Chili Fernández',
                                url: '\Music\Loco por volverte a ver.mp3',
                                cover: '\FtCancion\cancion.jpg',
                            },


                        ]
                    });
                </script>
                <!-- Jquery Link -->
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
                <!-- Bootstrap Link -->
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
                <!-- APlayer Jquery link -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
            </main>
            
            <!-- page-content" -->
        </div>
    </div>
       


</body>
</html>