
<!DOCTYPE html>
<html>
<head>
    <title>Beamy Music</title>
    <link rel="icon" type="image/jpg" href="~/Img/play.png" />
    <link rel="stylesheet" href="~/css/style3.css" />
    <link rel="stylesheet" href="~/css/style10.css" />
    <link rel="stylesheet" href="~/css/style11.css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <style type="text/css">

        
       

        .nose {
            width: 100px; /*Le establecemos un ancho*/
            margin: 0 auto; /*Centramos automaticamente*/
           
        }

            .nose > li {
                float: left;
            }

            .nose li a {
                background-color: #808080;
                color: #000000;
                text-decoration: none;
                padding: 10px 12px;
                display: block;
            }

                .nose li a:hover {
                    background-color: #434343;
                }

            .nose li ul {
                display: none;
                position: absolute;
                min-width: 140px;
            }

            .nose li:hover > ul {
                display: block;
            }

            .nose li ul li {
                position: relative;
            }

                .nose li ul li ul {
                    right: -140px;
                    top: 0px;
                }
    </style>
</head>
<body>
    <div class="container2">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="/usuario/interface">Beamy Music</a>
                        <i class="fa fa-hand-peace-o"></i>
                        <a href="/autor/logout"><i class="fa fa-sign-out float-right"></i></a>

                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="~/Images/userNew.png" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                <strong>@ViewData["Message"]</strong>
                            </span>
                            <span class="user-role">Usuario</span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span style="color:green">Online</span>
                            </span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <form action="/usuario/interface">
                                    <input class="form-control" type="search" name="search" placeholder="Search..." value="@ViewBag.Buscar">

                                    <button class="btn btn-outline-success my-2" type="submit">Buscar</button>
                                </form>

                            </div>
                           
                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a href="/Usuario/Editar">
                                    <i class="fa fa-cog"></i>
                                    <span>Editar Usuario</span>
                                </a>

                            </li>
                            <li>




                                <a href="#popup">
                                    <i class="fa fa-arrow-up"></i>
                                    <span>Subir Canción</span>
                                </a>





                            </li>
                            <!--<li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span></span>

                                </a>

                            </li>

                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-globe"></i>
                                    <span>Maps</span>
                                </a>


                            </li>-->
                            <li class="header-menu">
                                <span>Música</span>
                            </li>
                            <li>
                                <a href="/Usuario/Favoritos">
                                    <i class="fa fa-heart"></i>
                                    <span>Mis Favoritas</span>

                                </a>
                            </li>
                            <li>
                                <a href="/Usuario/PlayList">
                                    <i class="fa fa-star"></i>
                                    <span>Play List</span>
                                </a>
                            </li>

                        </ul>


                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content
                <div class="sidebar-footer">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">Música gratis</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>
                    <a href="#">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                     sidebar-wrapper  -->

            </nav>


            <main class="page-content">



                <div class="Artista">
                    <div class="ArtistaN">

                        <div class="wrapper">
                            <div class="letters">
                                <span class="letter">a</span><span class="letter">r</span><span class="letter">t</span><span class="letter">i</span><span class="letter">s</span><span class="letter">t</span><span class="letter">a</span>
                            </div>
                        </div>
                    </div>
                    <div class="ArtistaNs">
                        <h1>@ViewBag.artista2.Apellido</h1>
                    </div>

                    <div class="ArtistaF">
                        <img src="@ViewBag.artista2.Foto"  />
                    </div>
                </div>


               

                <div class="excluir">
                    <h2>CANCIONES</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr class="bg-secondary">
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Album</th>
                                <th scope="col">Artista</th>
                                <th scope="col">Duración</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int incrementa = 0; }
                            @foreach (var item in ViewBag.artista)
                            {
                                incrementa++;
                                <tr>
                                    <th scope="row">@incrementa </th>

                                    <td><img class="imgRedonda" src="@item.Foto" width="50" height="50" /></td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Albumes.Nombre</td>
                                    <td>@item.Artistas.Apellido</td>
                                    <td>@item.Duracion</td>
                                    <td>

                                        <ul class="nose">

                                            <li>
                                                <a href="">...</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Agregar a Play List</a>
                                                        <ul>
                                                            @foreach (var item2 in ViewBag.PlayListas)
                                                            {
                                                                <li><a href="/usuario/AgregarAmiPlayList4?cancion=@item.Id&playlist=@item2.Id&idArtista=@item.Artistas.Id">@item2.Nombre</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                    <li><a href="/usuario/favorito3?idCancion=@item.Id&idArtista=@item.Artistas.Id">Favoritos</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </main>
            <!-- page-content" -->
        </div>
    </div>
    <!-- page-wrapper -->
    <!---->
    <!---->
    <script src="~/js/site2.js" asp-append-version="true"></script>
</body>
</html>